*.db.sqlite3

*_pycache_
*__pycache__
livecommunity/db.sqlite3
*.sqlite3
apps/usuarios/__pycache__/__init__.cpython-311.pyc
*.pyc
*.pyc
*.pyc
*.pyc
apps/usuarios/__pycache__/__init__.cpython-311.pyc
apps/usuarios/__pycache__/admin.cpython-311.pyc
apps/usuarios/__pycache__/apps.cpython-311.pyc
apps/usuarios/__pycache__/models.cpython-311.pyc
apps/usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
apps/usuarios/migrations/__pycache__/__init__.cpython-311.pyc
livecommunity/__pycache__/views.cpython-311.pyc
livecommunity/settings/__pycache__/base.cpython-311.pyc
livecommunity/settings/__pycache__/local.cpython-311.pyc
livecommunity/__pycache__/urls.cpython-311.pyc
apps/usuarios/__pycache__/__init__.cpython-311.pyc
apps/usuarios/__pycache__/admin.cpython-311.pyc
apps/usuarios/__pycache__/apps.cpython-311.pyc
apps/usuarios/__pycache__/models.cpython-311.pyc
apps/usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
apps/usuarios/migrations/__pycache__/__init__.cpython-311.pyc
livecommunity/__pycache__/__init__.cpython-311.pyc
livecommunity/__pycache__/urls.cpython-311.pyc
livecommunity/__pycache__/views.cpython-311.pyc
livecommunity/__pycache__/wsgi.cpython-311.pyc
livecommunity/db.sqlite3
livecommunity/settings/__pycache__/base.cpython-311.pyc
livecommunity/settings/__pycache__/local.cpython-311.pyc
*.pyc
*.sqlite3
*.sqlite3
*.pyc
apps/usuarios/__pycache__/__init__.cpython-311.pyc
apps/usuarios/__pycache__/admin.cpython-311.pyc
apps/usuarios/__pycache__/apps.cpython-311.pyc
apps/usuarios/__pycache__/models.cpython-311.pyc
apps/usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
apps/usuarios/migrations/__pycache__/__init__.cpython-311.pyc
livecommunity/__pycache__/__init__.cpython-311.pyc
livecommunity/__pycache__/urls.cpython-311.pyc
livecommunity/__pycache__/views.cpython-311.pyc
livecommunity/__pycache__/wsgi.cpython-311.pyc
livecommunity/db.sqlite3
livecommunity/settings/__pycache__/base.cpython-311.pyc
livecommunity/settings/__pycache__/local.cpython-311.pyc
