.modal-telegram{
    width: 100vw;
    height: 100%;
    background-color: #000a;
    position: fixed;
    top:0;
    align-items: center;
    justify-content: center;
}

.salir-cliente{
    background-color: #fff5;
    position: absolute;
    right:2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    top:3rem;
    padding: .5rem;
    cursor: pointer;
}

.link-video-telegram{
    cursor: pointer;
}



/* idCliente */
.modal-id-cliente{
    width: 100%;
    height: 100vh;
    background-color: #000a;
    position: fixed;
    top:0;
    align-items: center;
    justify-content: center;
}

.btn-salir{
    background-color: #fff5;
    position: absolute;
    right:2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    top:3rem;
    padding: .5rem;
    cursor: pointer;
}

.link-video-telegram{
    cursor: pointer;
}


.modal-video{
    width: 350px;
}