.bg-2 {
  width: 100%;
  /* background-image: url("../../img/Desktop2.png"); */
  /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .bg-2 {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .bg-2 {
    height: 100%;
  }
}

.about-us {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  font-family: Montserrat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/fondo_nosotros.png");
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 30%,
    black 70%,
    transparent
  );
}

.about_us_container {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.about_us_img {
  width: 50%;
  position: relative;
  padding: auto;
}

.about_us_img_1, .about_us_img_2 {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 0.1s ease-out;
}

.about_us_img_1.animate, .about_us_img_2.animate {
  opacity: 1;
}

.about_us_img_1 {
  position: absolute;
  top: -10%;
  height: 50%;
  will-change: transform; /* Ayuda con el rendimiento del parallax */
}

.about_us_img_2 {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 50%;
  will-change: transform; /* Ayuda con el rendimiento del parallax */
}

.about_us_h2, .about_us_p {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Ajusta el tiempo de transición si es necesario */
}

.about_us_h2.animate, .about_us_p.animate {
  opacity: 1;
}

.about_us_text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about_us_h2 {
  font-size: 40px;
  font-weight: 900;
  padding: 18px;
  text-align: start;
  background-image: linear-gradient(to left, #4838d8, #bd1e6e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about_us_p {
  font-weight: 700;
  font-size: 22px;
  text-align: start;
  margin: 1rem auto 2rem auto;
  width: 90%;
  line-height: 40px;
}

@media (min-width: 1100px) and (max-width: 1500px) {
  .about_us_h2 {
    font-size: 30px;
  }
  .about_us_p {
    font-size: 20px;

  }
  .about_us_img_1 {
    width: 300px;
    height: 200px !important;
    position: absolute;
    top: -10%;
    left: 10%;
    height: 50%;
  }

  .about_us_img_2 {
    width: 300px;
    height: 200px !important;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50%;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {

  .about_us_h2 {
    font-size: 30px;
  }

  .about_us_text{
    display: flex !important;
    opacity: 1 !important;
  }
  .about_us_p {
    font-size: 16px;
  }
  .about_us_img_1 {
    width: 300px;
    height: 200px !important;
    position: absolute;
    top: -10%;
    left: 10%;
    height: 50%;
  }

  .about_us_img_2 {
    width: 300px;
    height: 200px !important;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50%;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .about_us_container{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about_us{
    width: 100%;
  }

  .about_us_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
  }
  .about_us_img{
    display: none;
  }
  .about_us_h2 {
    font-size: 30px;
    text-align: center;
  }
  .about_us_p {
    font-size: 16px;
    text-align: center;
  }
  .about_us_img_1 {
    width: 300px;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 50%;
  }

  .about_us_img_2 {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
  }
}


.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: rgb(37, 37, 37);
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  gap: 9px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  /* height: 315px; */
  list-style: none;
  background-color: rgba(255, 255, 255, 0.158);
  cursor: pointer;
  flex-direction: column;
  padding-bottom: 10px;
  border-radius: 18px;
  color: white;
}

.card img {
  width: 100%;
  height: 195px;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
  object-position: top;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
}

.card h4 {
  padding: 5px 0 4px 0;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.card ul {
  list-style-position: outside;
  padding-left: 27px;
  list-style-type: disclosure-closed;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 70%;
  justify-content: space-evenly;
}

.card ul li {
  font-size: 13px;
}

.card p {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.card p span {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .about-us {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1.75) - 9px);
  }
  .about-us {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
  }
  /* .carousel.dragging .card {
        cursor:default;
        user-select: none;
      }
    .carousel .card {
        cursor: default;
      }
      .wrapper i{
        display: none;
      }
      .infinite-card{
        display: none;
      } */
}

/* CARD CONTAINER OLD */
/* .about-us-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-top: 2rem;
    width: 90%;
}
.about-us-card{
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    padding-bottom: 15px;
}
.about-us-card img{
    width: 100%;
    height: 185px;
    border-radius: 18px;
}

.about-us-card h4{
    padding: 5px 0 10px 0;
    text-transform: uppercase;
}

.about-us-card p{
    font-size: 12px;
    font-weight: 700;
}
.about-us-card p span{
    font-size: 12px;
    font-weight: 500;
} */
