.bg-2{
    width: 100%;  
    background-image: url("../../img/Desktop2.png");
    /* Set a specific height */
    height: 180vh;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .bg-2{
    background-image: url("../../img/Desktop2.png");
    height: 165vh;
  }
}

.about-us{
    margin: 1em auto;
    width: 85%;
    font-family: Satoshi;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 34px;
    font-weight: 900;
    padding: 18px;
    text-align: center;
}

.about-us .text{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}


.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-top: 2rem;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: rgb(37, 37, 37);
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    gap: 9px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 300px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.158);
    cursor: pointer;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 18px;
    color: white;
  }
  
  .card img{
      width: 100%;
      height: 195px;
      border-radius: 18px;
  }
  
  .card h4{
      padding: 5px 0 10px 0;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
  }
  
  .card p{
      font-size: 13px;
      font-weight: 700;
      text-align: center;
  }
  .card p span{
      font-size: 13px;
      font-weight: 500;
      text-align: center;
  
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
      .wrapper .carousel {
          grid-auto-columns: calc((100% / 1.75) - 9px);
        }
  }
  @media screen and (min-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 12px);
        gap: 16px;
    }
    .carousel.dragging .card {
        cursor:default;
        user-select: none;
      }
    .carousel .card {
        cursor: default;
      }
      .wrapper i{
        display: none;
      }
      .infinite-card{
        display: none;
      }
}

/* CARD CONTAINER OLD */
/* .about-us-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-top: 2rem;
    width: 90%;
}
.about-us-card{
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    padding-bottom: 15px;
}
.about-us-card img{
    width: 100%;
    height: 185px;
    border-radius: 18px;
}

.about-us-card h4{
    padding: 5px 0 10px 0;
    text-transform: uppercase;
}

.about-us-card p{
    font-size: 12px;
    font-weight: 700;
}
.about-us-card p span{
    font-size: 12px;
    font-weight: 500;
} */