.broker {
  font-family: Montserrat;
  background-color: #000000;
}

.broker-container-header {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    /* Degradado de arriba hacia abajo */
      linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    /* Degradado de izquierda a derecha */
      url("../../img/fondoBrokerHeader.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-clip: padding-box;
}

.broker_about_us_container {
  width: 100vw;
  background-color: #020a1e;
  margin: 10rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.broker_about_us_text {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_green {
  color: #18cfb1;
}
.broker_about_us_text p {
  color: #d3d3d3;
  font-size: 24px;
  line-height: 40px;
  font-weight: 800;
  text-align: center;
}

.broker-presentation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.broker-presentation .broker-enlace:hover {
  background-color: #18cfb1;
}

.botones-broker {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 82%;
}

.broker_info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 0;
}

.broker_info_card_big {
  width: 80%;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 0px #a2a4aa;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  min-height: 300px;
  align-items: center;
}

.broker_info_card_big_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 40%;
  color: #d3d3d3;
  height: 100%;
}

.broker_info_card_big_text h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #0a7f71;
  margin-bottom: 2rem;
}

.broker_info_card_big_text p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d3d3d3;
  line-height: 1.5;
}

.broker_info_card_big_img {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.broker_info_card_big img {
  width: 400px;
  position: absolute;
}

.broker_info_card_container_small {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.broker_info_card_small {
  width: 45%;
  min-height: 200px;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 0px #a2a4aa;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.broker_info_card_small h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #0a7f71;
  margin-bottom: 2rem;
}

.broker_info_card_small p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d3d3d3;
  line-height: 1.5;
}

.btn-registrate-container-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.btn-registrate-container-desktop {
  display: none;
}
.btn-registrate {
  font-family: Montserrat;
  padding: 10px 40px;
  color: white;
  background: linear-gradient(90deg, #31323380 0%, #1bcbb7 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* margin-top: 5px; */
  border-radius: 7px;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
.btn-registrate:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer-broker {
  background: #01050f;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #1bcbb7 33%,
    #112afb 66%,
    #1bcbb7 100%
  );
  display: flex;
  flex-direction: column-reverse;
}
.footer-broker .redes {
  margin: 0;
  padding-top: 2rem;
}
.footer-broker .img-container-footer {
  width: 140px;
  height: auto;
  margin: 1rem 0;
}

.broker-mobile {
  display: block;
}
.broker-desktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .btn-registrate-container-mobile {
    display: none;
  }
  .broker-container-header {
    background-position: bottom;
  }
  .btn-registrate-container-desktop {
    display: block;
  }
  .footer-broker {
    background: #01050f;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .footer-broker .redes {
    margin: 0;
    padding-top: 0;
  }
  .broker-presentation .broker-text {
    font-size: 20px;
    line-height: 25px;
  }

  .broker .preguntas-container-desktop {
    color: #091b47;
  }
  .broker .inicio-preguntas h2 {
    font-size: 38px;
    font-weight: 900;
  }
  .broker .pregunta h5 {
    font-size: 20px;
  }
  .pregunta p {
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (min-width: 900px) {
  .broker-presentation {
    padding-top: 15vh;
  }
  .broker-presentation .broker-logo {
    width: 350px;
    filter: drop-shadow(1px 4px 4px #1d1d1d);
  }
  .broker-presentation .broker-text {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
  }
  .broker-mobile {
    display: none;
  }
  .broker-desktop {
    display: block;
  }
  .broker-container-header {
    background-position: bottom;
  }
  .broker-presentation .broker-enlace {
    font-size: 20px;
  }
  .broker-presentation .broker-enlace::before {
    margin-left: 255px;
  }
  .btn-registrate-container-mobile {
    display: none;
  }
  .btn-registrate-container-desktop {
    display: block;
  }
  .footer-broker {
    background: #01050f;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .footer-broker .redes {
    margin: 0;
    padding-top: 0;
  }
}
