.broker_inicio_container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(3, 10, 29, 0.726);
    border-radius: 40px;
    margin: 5rem auto 7rem;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transition: all 1s linear;
}

.broker_inicio_container.animate{
    transform: scale(1);
}



.broker_inicio_container img {
    width: 420px;
    border-radius: 10px;
    display: block;
}
.broker-content {
    max-width: 35%;
    padding: 35px 0;
}
.broker-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #e3e3e3;
    font-weight: 800;
}
.broker-content h2 span{
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #4838d8, #bd1e6e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}
.broker-content p {
    font-size: 20px;

    margin-bottom: 20px;
    color:#d3d3d3de;

}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6007a;
    color:#d3d3d3;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #ff3385;
}

/* Ajustes para pantalla más pequeña */
@media (max-width: 768px) {
    .broker_inicio_container img {
        display: none;
    }
    .broker-content {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn {
        width: 50%;
        margin: 0 auto;
    }
}