body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background: #01050f;
  overflow-x: hidden;
}
.main-contain-home {
  max-width: 80vw;
  margin: 0 auto;
  height: 100%;
    
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  /* Gradient in grayscale */
  background: -moz-linear-gradient(0deg,  rgba(0,0,0,0.8) 0%, rgba(128,128,128,0.6) 55%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(0deg,  rgba(0,0,0,0.8) 0%,rgba(128,128,128,0.6) 55%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg,  #9fa5b477 0%,#19264673 55%,  #01050f  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  #01050F
}


.hero-contain {
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header {
  width: 100%;
  background-image: url("../../img/FondoLiveMobile.png");
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}
header video{
  display: block;
  width: 100%;
}
@media (min-width: 1000px) {
  header {
    background-image: url("../../img/FondoLiveDsktp.png");
    background: linear-gradient(to bottom, transparent, #081a48),
      url("../../img/FondoLiveDsktp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  position: relative;
  z-index: 1;
}
.hero .logo-live {
  width: 260px;
  margin-bottom: 1.8rem;
}
.hero-video {
  border-radius: 20px;
  margin: 20px 0 20px 0;
  width: 70vw;
  height: 620px;
}

.hero h1 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0 0 0;
  line-height: 55px;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.hero .btn {
  font-family: Montserrat;
  padding: 10px 20px;
  color: white;
  background: #be1e6d;
  margin-top: 4rem;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.3s ease, background 0.15s ease-in-out 0.2s, opacity 0.5s ease; /* Consolidación de transiciones */
}

.hero .btn:hover {
  background-color: #e42283;
  transform: scale(1.2)!important; /* Escalar el botón en un 20% */
  border-radius: 10px;
}

.hero h1.animate, .hero .btn.animate {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 900px) {
  .hero-video {
    width: 85vw;
  }
  .hero {
    padding-top: 10px;
    height: 105vh;
  }
  .hero h1 {
    font-size: 40px;
    margin-top: 4.5rem;
  }
  header {
    height: 100%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 40px;
    margin-top: 2.5rem;
    padding-bottom: 0;
  }
  .hero {
    padding-top: 10px;
    height: 80vh;
  }

  header {
    height: 100%;
    margin-bottom: 3rem;
  }
  .hero-video {
    width: 90vw;
    height: 360px;
  }
  .hero .logo-live {
    width: 200px;
    margin-bottom: 1.8rem;
  }
}
