/* pres VIDEOS */
.pres{
    background-color: #fcfcfc;
    font-family: Montserrat;
}
.pres-container{
    width: 100%;
    background-image: url("../../img/FondoPresenciales.png"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}

.pres-presentation{
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    color: #fcfcfc;
    text-align: start;
    height: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pres-presentation img{
    margin-top: 1rem;
}


.pres-video {
    margin: 3rem auto;
    height: 420px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;    
}

.pres-video .video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 2rem;
}
.sede-ubi-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto 4rem auto;
}
.sede-ubi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.699);
    padding: 20px 0;

}
.sede-ubi:last-of-type{
    border: none;
}

.pres-sede{
    padding: 0.8rem 0;
    font-size: 1.7em;
    color: #c51d17;

}
.pres-ubi{
    padding: 0.5rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}
.pres-ubi::before {
    position: absolute;
    width: 90px;
    margin-left: -25px;
    content: url("../../img/ubi.png");
}
.pres-text{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    line-height: 30px;

}
.pres-text span{
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 35px;
}
.btn-consultar{
    font-family: Montserrat;
    padding: 10px 20px;
    color: white;
    background: #c51d17;
    margin-top: 10px;
    border-radius: 20px;
    font-weight:800;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.15s ease-in-out 0.2s;
}
.btn-consultar:hover{
    background: #b11610;

}

.footer-pres{
    background: linear-gradient(180deg, #ffffff 0%, #ff5f5a 33%, #c51d17 66% ,#a0110c 100%);
    display: flex;
    flex-direction: column;
}
.footer-pres .redes{
    margin: 0;
}
.footer-pres .img-container-footer {
    width: 140px;
    height: auto;
    margin: 1rem 0;
}

.modalmask {
    position: fixed;
    font-family: Montserrat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 380px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    height: 55vh;
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{       
    margin:30% auto;
}


/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius:50%;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}


.form {
    background-color: #f8f8f8;
    border-radius: 20px;
    box-sizing: border-box;
    height: 570px;
    padding: 20px;
    width: 380px;
  }
  
  .title {
    color: #c51d17;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    font-weight: 800;
    margin-top: 30px;
    TEXT-ALIGN: CENTER;
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #b4b4b498;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #4b4a4a;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #c51d17;
  }
  
  .submit {
    background-color: #c51d17;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 80px;
    text-align: center;
    width: 100%;
  }

  
  .submit:active {
    background-color: #ca312c;
  }
  
  .consulta-text{
    height: 110px;
  }
@media screen and (min-width: 600px) {

    .pres-container {
        background-position: center;
        background-image: url("../../img/FondoPresencialesDktp.png"); 
    }
    .pres-video {
        height: 500px;
    }
    .footer-pres {
        background: #c51d17;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
    }

    
}

@media screen and (min-width: 900px) {
    .pres-videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: 90%;
        margin: 0 auto;
    }
    .pres-video {
        height: 500px;
    }
    .pres-presentation {
        padding-top: 23vh;
        width: 60%;
    }
    .pres-text{
        font-size: 2.2rem;
        text-align: center;
        font-weight: 900;
        line-height: 45px;
    }
    .pres-text span{
        font-size: 2.8rem;
        text-align: center;
        font-weight: 900;
        line-height: 65px;
    }
    .pres-container {
        padding-bottom: 2rem;
    }

    .sede-ubi-container{
        flex-direction: row;
    }

    .sede-ubi{
        flex-direction: column;
        border: none;
        width: 100px;
        text-align: center;
    }
    .pres-video{
        width: 70%;
        height: 520px;
    }
    .modalmask:target .movedown{       
        margin:2% auto;
    }

}