/* pres VIDEOS */
.pres{
    background-color: #fcfcfc;
    font-family: Montserrat;
}
.pres-container{
    width: 100%;
    background-image: url("../../img/FondoPresenciales.png"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}

.pres-presentation{
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
    color: #fcfcfc;
    text-align: start;
    height: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pres-presentation img{
    margin-top: 1rem;
}


.pres-video {
    margin: 3rem auto;
    height: 420px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;    
}

.pres-video .video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 2rem;
}
.sede-ubi-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto 4rem auto;
}
.sede-ubi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.699);
    padding: 20px 0;

}
.sede-ubi:last-of-type{
    border: none;
}

.pres-sede{
    padding: 0.8rem 0;
    font-size: 1.7em;
    color: #c51d17;

}
.pres-ubi{
    padding: 0.5rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}
.pres-ubi::before {
    position: absolute;
    width: 90px;
    margin-left: -25px;
    content: url("../../img/ubi.png");
}
.pres-text{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    line-height: 30px;

}
.pres-text span{
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 35px;
}
.btn-consultar{
    font-family: Montserrat;
    padding: 10px 20px;
    color: white;
    background: #c51d17;
    margin-top: 10px;
    border-radius: 20px;
    font-weight:800;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.15s ease-in-out 0.2s;
}
.btn-consultar:hover{
    background: #b11610;

}

.footer-pres{
    background: linear-gradient(180deg, #ffffff 0%, #ff5f5a 33%, #c51d17 66% ,#a0110c 100%);
    display: flex;
    flex-direction: column;
}
.footer-pres .redes{
    margin: 0;
}
.footer-pres .img-container-footer {
    width: 140px;
    height: auto;
    margin: 1rem 0;
}
@media screen and (min-width: 600px) {

    .pres-container {
        background-position: center;
        background-image: url("../../img/FondoPresencialesDktp.png"); 
    }
    .pres-video {
        height: 500px;
    }
    .footer-pres {
        background: #c51d17;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
    }

    
}

@media screen and (min-width: 900px) {
    .pres-videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: 90%;
        margin: 0 auto;
    }
    .pres-video {
        height: 500px;
    }
    .pres-presentation {
        padding-top: 23vh;
        width: 60%;
    }
    .pres-text{
        font-size: 2.2rem;
        text-align: center;
        font-weight: 900;
        line-height: 45px;
    }
    .pres-text span{
        font-size: 2.8rem;
        text-align: center;
        font-weight: 900;
        line-height: 65px;
    }
    .pres-container {
        padding-bottom: 2rem;
    }

    .sede-ubi-container{
        flex-direction: row;
    }

    .sede-ubi{
        flex-direction: column;
        border: none;
        width: 100px;
        text-align: center;
    }


}