/* serv VIDEOS */
.serv {
  background-color: #01050f;
  font-family: Montserrat;
}


.serv-container {
  width: 100%;
  background:
    /* Degradado de arriba hacia abajo */
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 100%
      ),
    url("../../img/fondoService3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}



.servicio_section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%); */
}

.servicio_section_container h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2.5rem;
  font-weight: 700;
  color: #d3d3d3;
  margin: 10rem 0 15rem 0;
}
.serv-presentation {
  padding-top: 10vh;
  width: 85%;
  margin: 0 auto;
  color: #d3d3d3;
  text-align: center;
  height: 100%;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serv-presentation .logo-live {
  width: 200px;
  margin-bottom: 1.8rem;
}
.serv-presentation h1 {
  font-size: 38px;
  margin-bottom: 1.5rem;
  font-weight: 900;
}
.serv-presentation p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.serv-videos {
  padding-top: 1.2rem;
  padding-bottom: 3rem;
}
.serv-video {
  margin: 0 auto;
  height: 560px;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
}

.left {
  position: relative;
}

.left:before {
  content: "";
  background-color: #bd1e6e;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  z-index: 100;
}

.left:after {
  content: "";
  background-color: #bd1e6e;
  width: 30px;
  height: 30px;
  border-radius: 30px 0 30px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
}

.right {
  position: relative;
}

.right:before {
  content: "";
  background-color: #bd1e6e;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  z-index: 100;
}

.right:after {
  content: "";
  background-color: #bd1e6e;
  width: 30px;
  height: 30px;
  border-radius: 0 30px 0px 30px;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 100;
}
.serv-video p {
  color: #d3d3d3;
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
  margin-top: 2rem;
}

/* .fondo {
  background: linear-gradient(
    to bottom,
    #bd1e6d0e 0%,
    #bd1e6d1e 25%,
    #bd1e6d33 50%,
    #bd1e6d1e 75%,
    #bd1e6d0e 100%
  );
} */

.serv-video img {
  position: relative;
  display: block;
  width: 500px;
  height: auto;
  border-radius: 40%;
  /* box-shadow: 0 0 15px 15px rgba(255, 255, 255, 1); */
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 70%,
    transparent
  );
}



.serv-videos-free{
  position: relative;
  display: flex;
  height: 70vh;
  width: 90%;
  margin: 0 auto;
}

.serv-video .video {
  width: 70%;
  height: 100%;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.free {
  color: #bd1e6e;
}
.premium {
  color: #bd1e6e;
}
.serv-video h3 {
  margin: 1rem;
  font-size: 34px;
  font-weight: 700;
  color: #d3d3d3;
}
.serv-free-container {
  background: transparent;
  padding: 2rem;
  margin-top: 4rem;
}
.serv-free-container p {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  color: #d3d3d3;
}
.serv-free-container p span {
  font-weight: 700;
  font-size: 24px;
  color: #d3d3d3;
}
.btn-registrate-container-serv {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
  margin-bottom: 5rem;
}
.btn-registrate-serv {
  font-family: Montserrat;
  padding: 13px 40px;
  color: white;
  background: #bd1e6e;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* margin-top: 5px; */
  border-radius: 12px;
  font-weight: 800;
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.15s ease-in-out 0.2s, opacity 0.5s ease;
}
.btn-registrate-serv:hover {
  background-color: #e42283;
  transform: scale(1.2) !important;
  border-radius: 10px;
}
.premium-tittle {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(45deg, #bd1e6e, #bd1e6e);
  color: #d3d3d3;

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  text-decoration: underline #bd1e6e; /* Subrayado rojo */
}
.recorda {
  width: 85%;
  padding: 20px;
  border-radius: 25px;
  border: 4px solid #bd1e6e;
  text-align: center;
}
.recorda h3 {
  font-size: 34px;
  font-weight: 800;
  color: #d3d3d3;
  padding-bottom: 1.2rem;
}
.recorda p {
  font-size: 23px;
  font-weight: 600;
  color: #d3d3d3;
}
.recorda::before {
  position: absolute;
  margin-left: 120px;
  margin-top: -60px;
  content: url("../../img/Exclamacion.png");
}

.decision-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
.decision-container img {
  width: 70%;
  margin: 0 auto;
}
.decision-container p {
  width: 80%;
  margin: 3.2rem auto;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #d3d3d3;
}
.decision {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}
.opcion1 {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}
.opcion2 {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.opcion1 h3 {
  padding: 15px 15px;
  font-size: 20px;
  background-color: #bd1e6e;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.opcion2 h3 {
  padding: 15px 15px;
  font-size: 20px;
  background-color: #bd1e6e;
  color: white;
  border-radius: 15px;
  text-align: center;
}
.btn-vacio {
  font-family: Montserrat;
  padding: 15px 80px;
  background: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* margin-top: 5px; */
  border-radius: 20px;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
.contratar {
  color: #bd1e6e;
  border: 2px solid #bd1e6e;
}
.registrate {
  color: #bd1e6e;
  border: 2px solid #bd1e6e;
}

.service_recorda_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  gap: 60px;
}

.footer-serv {
  background: linear-gradient(
    180deg,
    #01050f 0%,
    #1e0c14 20%,
    #3f1128 40%,
    #5d1837 60%,
    #811d4f 80%,
    #bd1e6e 100%
  );
  display: flex;
  flex-direction: column;
}

.footer-serv .redes {
  margin: 0;
}
.footer-serv .img-container-footer {
  width: 140px;
  height: auto;
  margin: 1rem 0;
}


@media screen and (max-width: 600px) {
  .serv-video h3{
    font-size: 20px;
  }
  .serv-video p{
    font-size: 18px;
  }
  .rigth{
    flex-direction: column-reverse;
  }
  .left:before{
    display: none;
  }

  .right:before{
    display: none;
  }

  .left:after{
    display: none;
  }

  .right:after{
    display: none;
  }
}

@media screen and (max-width: 900px) {

  .serv-videos-free{
    flex-direction: column;
    margin-top: 2rem;
  }
  .service_recorda_container{
    flex-direction: column-reverse;
  }

  .right{
    flex-direction: column-reverse;
  }
  .left:before{
    display: none;
  }

  .right:before{
    display: none;
  }

  .left:after{
    display: none;
  }

  .right:after{
    display: none;
  }
  

  .puntito-azul-2::before {
    display: none;
  }
  .puntito-amarillo-1::before {
    display: none;
  }
  .puntito-amarillo-2::before {
    margin-left: 350px;
    margin-top: -40px;
  }
  .serv-video {
    height: 500px;
  }
  .serv-videos-premium {
    width: 90%;
    margin: 0 auto;
  }
  .serv-video-pro {
    height: 400px;
    margin: 1rem auto 3rem auto;
    width: 640px;
  }
  .serv-video-pro .video {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-bottom: 2rem;
  }
  .serv-presentation {
    padding-top: 15vh;
    width: 60%;
    padding-bottom: 10vh;
  }
  .serv-text {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 900;
    line-height: 45px;
  }
  .serv-text span {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 900;
    line-height: 65px;
  }
  .serv-container {
    padding-bottom: 2rem;
  }
  .recorda {
    width: 90%;

  }
  .recorda::before {
    position: absolute;
    margin-left: 170px;
  }
  .decision-container img {
    width: 30%;
  }
  .decision-container p {
    width: 45%;
    margin: 3.2rem auto;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
  }
  .decision {
    width: 60%;
    justify-content: center;
  }
  .opcion1 h3 {
    padding: 15px 30px;
  }
  .opcion2 h3 {
    padding: 15px 30px;
  }
  .serv .preguntas-container-desktop {
    color: rgba(24, 24, 24, 0.925);
  }


}
/* Animaciones*/
/* Archivo CSS */

.serv-container {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.serv-container.show {
  opacity: 1;
  transform: translateY(0);
}

.serv_h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.serv_h1.show {
  opacity: 1;
  transform: translateY(0);
}

.serv_p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 1s; /* Retardo de 1 segundo */
}

.serv_p.show {
  opacity: 1;
  transform: translateY(0);
}
/* Archivo CSS */

.lado_izq {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.lado_der {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.serv-videos-free.right:before {
  content: '';
  position: absolute;
  /* Aquí define los estilos que necesitas para el pseudoelemento */
  /* Asegúrate de que no se vea afectado por las animaciones de los elementos */
  transform: none;
}
.serv-free-container {
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.serv-free-container.show {
  opacity: 1;
  transform: scale(1);
}

@keyframes emphasis {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.recorda.emphasis {
  animation: emphasis 1s ease-in-out;
}
