.staff{
    margin: 4em auto;
    width: 85%;
    font-family: Satoshi;
    color: white;
    align-items: center;

}
.grid-staff {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 70px;
    margin-top: 60px;
}

.card-staff{
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    padding-bottom: 15px;
}
.card-staff img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -50px;
}

.card-staff h4{
    padding: 5px 0 10px 0;
    text-transform: uppercase;
    font-size: 17px;

}

.card-staff p{
    font-size: 12px;
    font-weight: 700;
}
.card-staff p span{
    font-size: 12px;
    font-weight: 500;
}