/* Animaciones */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes carouselShow {
  0% {
    
    opacity: 0;
  }
  50%{

    opacity: 0.5;
  }
  100% {
    
    opacity: 1;
  }
}




/* Aplicar animaciones */
.tus_maestros h2.animate {
  animation: slideInFromLeft 1.3s ease-out forwards;
}

.tus_maestros p.animate {
  animation: slideInFromRight 1.5s ease-out forwards;
}


.carousel.animate {
  animation: carouselShow 3s linear forwards;
}

/* Aplicar animaciones */
.staff_h2.animate {
  animation: slideInFromLeft 2s ease-out forwards;
}

.staff_p.animate {
  animation: slideInFromRight 1.5s ease-out forwards;
}


.carouselStaff.animate {
  animation: carouselShow 3s linear forwards;
}

/* Estilos existentes */
.staff {
  padding: 3rem 7rem;
  width: 100%;
  font-family: Montserrat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.staff h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 20px 0;
  background-image: linear-gradient(to left, #4838d8, #bd1e6e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.staff_p {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 1rem auto 2rem auto;
  width: 70%;
  color: white;
  line-height: 35px;

}
.tus_maestros {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tus_maestros h2 {
  font-size: 40px;
  font-weight: 900;
  padding: 18px;
  text-align: center;
  background-image: linear-gradient(to left, #4838d8, #bd1e6e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.tus_maestros p {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 1rem auto 2rem auto;
  width: 70%;
  line-height: 35px;
  opacity: 0;
}

/* Media queries */
@media (min-width: 1100px) and (max-width: 1500px) {
  .staff h2 {
    font-size: 30px;
  }
  .tus_maestros h2 {
    font-size: 30px;
  }
  .tus_maestros p {
    font-size: 20px;
    width: 90%;
  }
  .staff_p {
    font-size: 20px;
    width: 90%;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .tus_maestros h2 {
    font-size: 30px;
  }
  .staff h2 {
    font-size: 30px;
  }
  .tus_maestros p {
    font-size: 16px;
    width: 90%;
  }
  .staff_p {
    font-size: 16px;
    width: 90%;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .tus_maestros h2 {
    font-size: 30px;
  }
  .staff h2 {
    font-size: 30px;
  }
  .tus_maestros p {
    font-size: 16px;
    width: 90%;
  }
  .staff_p {
    font-size: 16px;
    width: 90%;
  }
}


.wrapperStaff {
    max-width: 1300px;
    width: 100%;
    position: relative;
  }
  .wrapperStaff i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: rgb(37, 37, 37);
  }
  .wrapperStaff i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapperStaff i:first-child{
    left: -22px;
  }
  .wrapperStaff i:last-child{
    right: -22px;
  }
  .wrapperStaff .carouselStaff{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 9px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-top: 75px;

  }
  .carouselStaff::-webkit-scrollbar {
    display: none;
  }
  .carouselStaff.no-transition {
    scroll-behavior: auto;
  }
  .carouselStaff.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carouselStaff.dragging .cardStaff {
    cursor: grab;
    user-select: none;
  }
  .carouselStaff :where(.cardStaff, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carouselStaff .cardStaff {
    /* scroll-snap-align: start; */
    height: auto;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
    color: white;
    border-radius: 18px;
    /* background-color: rgba(255, 255, 255, 0.158); */
    text-align: center;
    padding-bottom: 15px;
    background: linear-gradient(180deg, #01050f00 50%, #030e2bc0 75%, #233155);

  }
  
  .cardStaff img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin-top: -60px; */
    object-fit: cover;
    object-position: right top;
    
  }
  
  .cardStaff h4{
    text-align: center;
    padding: 5px 0 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    height: 65px;
    display: flex;
    align-items: center;
  }
  
  .cardStaff p{
      font-size: 12px;
      font-weight: 700;
      text-align: center;
  }

  .cardStaff p span{
    font-size: 12px;
    font-weight: 500;
      text-align: center;
  
  }
  .cardStaff ul{
    list-style-position: outside;
    padding-left: 27px;
    list-style-type: disclosure-closed;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 70%;
    justify-content: space-evenly;
    transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
  }

  .cardStaff ul.show {
    visibility: visible;
    opacity: 1;
  }

  /* .cardStaff:hover ul{
   opacity: 1; 
  } */

  .cardStaff ul li{
    font-size: 13px;

  }
  
.staff-1{
  object-position: center -25px !important;
}
/* MEDIA QUERY TABLET */
@media screen and (max-width: 900px) {
  .staff {
    padding: 0;
  }
  .wrapperStaff .carouselStaff {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}
/* MEDIA QUERY  MOBILE */
@media screen and (max-width: 600px) {
    .wrapperStaff .carouselStaff {
        grid-auto-columns: calc((100% / 2) - 9px);
      }
      .staff {
        padding: 0;
      }
}
/* MEDIA QUERY DESKTOP */
@media screen and (min-width: 900px) {
  .wrapperStaff .carouselStaff {
    grid-auto-columns: calc((100% / 4) - 40px);
    gap: 40px;
}

}


