.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01050f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #333;
  z-index: 1000;
  animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.imgLoading {
  width: 300px;
}

@media (min-width: 300px) and (max-width: 700px) {
  .imgLoading {
    width: 200px;
  }
}
