{% extends 'base.html' %}
{% load static %} 

{% block title %} Cliente{% endblock %} 
{% block content %}
<header>
    <div class="main-contain">
        <div class="hero-contain">
            <div class="hero">
            
                <div class="hero-izq">
                    <h1>Live Community</h1>
                    <p>SOMOS Live Community, te brindamos la vacante para que puedas
                    acceder GRATIS a todos los servicios.
                    </p>
                    <div class="button-contain">
                        
                        <button class="button-17" role="button"><a href="{{afiliado.url}}">Comienza Ahora</a></button>
                        <input type="hidden" name="idAfiliado" value={{afiliado.idAfiliado}}>
                    </div>

                </div>
                <div class="hero-der">
                    <div class='img'>
                        <img src="{% static 'img/mobile.png' %}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</header> 

{% comment "" %}
 aca incluir las instruncciones
 Descargas 
 Pasos a seguir 
{% endcomment %}


<div class="form-container">
    <form method="post" enctype="multipart/form-data" action="clienteForm/">
        {% csrf_token %}
        <label for="id_nombre">Nombre:</label>
        <input type="text" name="nombre" id="id_nombre">
        <br>
        <label for="id_apellido">Apellido:</label>
        <input type="text" name="apellido" id="id_apellido">
        <br>
        <label for="id_correo">Correo:</label>
        <input type="email" name="correo" id="id_correo">
        <br>
        <label for="id_telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="id_telefono">
        <br>
        <label for="id_comprobante">Comprobante:</label>
        <input type="file" name="comprobante" id="id_comprobante">
        <br>
        <label for="id_idAfiliado">ID Afiliado:</label>
        <input type="hidden" name="idAfiliado" id="id_idAfiliado" value="{{idAfiliado.idAfiliado}}">
        <br>
        <label for="id_userTelegram">Usuario Telegram:</label>
        <input type="text" name="userTelegram" id="id_userTelegram">
        <br>
        <button onclick="send_handle()">send</button>
      </form>
    {% comment %} <form action="clienteForm/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form> {% endcomment %}
</div>



{% endblock content %}