{% extends 'base.html' %}
{% load static %} 

{% block title %} Live Community{% endblock %} 
{% block content %}


<header>
    <div class="main-contain">
        <div class="hero-contain">
            <div class="header">
                <div class="img-container">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
                </div>
            </div>
            
            <div class="hero">
                
                    <h1>LIVE COMMUNITY</h1>
                    <p>SOMOS Live Community, te brindamos la vacante para que puedas
                        acceder GRATIS a todos los servicios.
                    </p>
                    <div class="button-contain">
                        
                    <a href='{{afiliado.url}}' class="button-17" role="button" target='_blank'>Empieza Ya</a>
                    </div>
            </div>

            <div class="terminos-container">
                <div class="terminos-condiciones">
                    <div class="checkbox-wrapper-1">
                        <input id="example-1" class="substituted" type="checkbox" aria-hidden="true" />
                        <label for="example-1"></label>
                    </div>
                      
                    <p>Una vez REGISTRADO, podés aceptar los <a target="_blank" class="link" href="{% static 'pdf/terminos-y-condiciones.pdf' %}">Terminos y condiciones</a> y las <a target="_blank" class="link" href="{% static 'pdf/politica-y-privacidad.pdf' %}">Politicas de privacidad</a> para continuar con el fondeo de tu cuenta.</p>
                </div>
                <div class="button-continuar">
                    <a href="#continuar" class="cta" hidden>
                        <span>Continuar</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                          <path d="M1,5 L11,5"></path>
                          <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                      </a>
                </div>
                
            </div>

        </div>
    </div>
</header> 


<main class="main-afiliado" hidden>


    <section class="descargar-section" >
        <div class="main-contain text-center" id="continuar">
            <h2 class="section-tittle text-center">Descarga las siguentes Aplicaciones</h2>
            <div class="responsive-three-column-grid">
                <div class="card">
                    <h3 class="card-tittle">Libertex</h3>
                    <a href="#">
                        <img src="{% static 'img/libertex.png' %}" alt="libertex">
        
                    </a>
                    <p class="card-text">Descarga la app de
                        LIBERTEX, una ves que
                        habras la app tocar iniciar
                        sesion e ingresa el mail y la
                        clave que creaste.</p>
                        <p class="important"><span>IMPORTANTE !!! 
                            No te
                            vuelvas a registrar desde la
                            app</span></p>
                </div>
                <div class="card">
                    <h3 class="card-tittle">Telegram</h3>
                    <a href="#">
                        <img src="{% static 'img/telegram.png' %}" alt="telegram">
        
                    </a>
                    <p class="card-text">Descarga la app de Telegram,
                        Aca tendras acceso a todos los
                        servicios de Live Community.
                        </p>
                        <p class="card-text">CANALES:
                            Comunidad Live, Accesos y
                            Señales.</p>
                </div>
                <div class="card">
                    <h3 class="card-tittle">Binance</h3>
                    <a href="#">
                        <img src="{% static 'img/binance.png' %}" alt="telegram">
        
                    </a>
                    <p class="card-text">Descarga la app de Binance
                        donde podras tener tu Billetera
                        Virtual, la necesitaras para
                        cargar tu cuenta y retirar tus
                        ganancias.</p>
                </div>
            </div>
            
        </div>
        
    </section>


{% comment %} Input para verificar al cliente {% endcomment %}
    <section class="text-center verificar-nuevo-cliente">
            <h4 class="text-verificar-cliente">
                EL REGISTRO PUEDE TARDAR 12 HS UNA VES
                QUE ESTE VEREFICADA PODRA CONTINUAR
                COLOCANDO SU NUMERO DE CUENTA<br> <a href="{% static 'video/verificar_cuenta_id.mp4' %}" id='link-id-cliente' class="link-video-telegram">(Ver Video)</a>

            </h4>

            <div class="form-verificar-cliente">
                <input type="text" value="" name="idNuevoCliente" id="id_nuevo_cliente">
                
                <button class="button-verificar-cliente" role="button">Verificar</button>
            </div>


            <p class="error-verificar-cliente" id="error-verificar-cliente" hidden>❌ Usted ya es Cliente de Live Community</p> 



            
    </section>
    <div class="main-contain text-center">
        <a class="text-center" href="#pasos">            
            <img class="flecha-abajo" src="{% static 'img/scrolldownblack.gif' %}" alt="flechita">
        </a>
    </div>
    
{% comment %} Dentro de esta section estan las otra dos que van abajo  {% endcomment %}
    <section class="validacion-2" hidden>
        <section class="pasos-section text-center">
            <div class="pasos-contain" id="pasos" >
                <h2 class="section-tittle text-center">Pasos para cargar tu cuenta</h2>
        
                <div class="pasos">
                    <div class="paso">
                        <div class="block">
                            <div class="title-paso">Paso 1 : VIDEO DE COMO CONFIGURAR BINANCE
                            </div> 
                            <div class="text-paso">Video explicativo de como configurar tu cuenta de binance</div>
                            <video class='modal-video' src="{% static 'video/como_configurar_binance.mp4' %}" controls='true' width='400px'></video>
                        </div>
                    </div>
                    <div class="paso">
                        <div class="block">
                            <div class="title-paso">Paso 2 : COMPRAR USDT</div> 
                            <div class="text-paso">Video tutorial de como comprar USDT</div>
                            <video class='modal-video' src="{% static 'video/comprar_usdt_binance.mp4' %}" controls='true' width='400px'></video>
                        </div>
                    </div>
                    <div class="paso">
                        <div class="block">
                            <div class="title-paso">Paso 3 : ENVIAR USDT A TU CUENTA DE
                                LIBERTEX</div> 
                            <div class="text-paso">Explicación de como enviar USDT a tu cuenta en Libertex</div>
                            <video class='modal-video' src="{% static 'video/como_depositar_libertex.mp4' %}" controls='true' width='400px'></video>
                        </div>
                    </div>
                    <div class="paso">
                        <div class="block">
                            <div class="title-paso">YA TENES TU CUENTA CARGADA, ESTAS UN
                                PASO DE ACCEDER A TODOS LOS SERVICIOS
                                DE LIVE COMMUNITY</div> 
                            <div class="text-paso">Empezar a aprender</div>
                        </div>
                    </div>
                </div>
        
        
            </div>
            <a href="#formulario">            
    
            <img class="flecha-abajo" src="{% static 'img/scrolldownblack.gif' %}" alt="flechita">
            </a>
        </section>
        
        <section class="form-section text-center" id="formulario">
            <h2 class="title-form text-center">INGRESA TUS DATOS PARA ACCEDER A LOS SERVICIOS
            </h2>
            <div class="section-form-container">
        
                
                <div class="logo-gif-container">
                    <img class="logo-gif"  src="{% static 'img/logogif.gif' %}" alt="logo gif">
                </div>
                <div class="form-container">
                    <form method="post" enctype="multipart/form-data" action="clienteForm/" class="form-send">
                        {% csrf_token %}
        
                        <div class="inputbox">
                            <input type="text" name="nombre" id="id_nombre" required="required" data-nombre class="input-default">
                            <span>Nombre</span>
                        </div>
        
                        <div class="inputbox">
                            <input type="text" name="apellido" id="id_apellido" required="required" data-apellido class="input-default">
                            <span>Apellido</span>
                        </div>
        
                        <div class="inputbox">
                            <input type="email" name="correo" id="id_correo" required="required" data-correo class="input-default">
                            <span>Correo</span>                
                        </div>
        
                        <div class="inputbox">
                            <input type="tel" name="telefono" id="id_telefono" required="required" data-telefono class="input-default">
                            <span>Teléfono</span>
                        </div>
    
                        <div class="inputbox" hidden>
                            <input type="text" name="idcliente" id="id_cliente" required="required" data-telefono class="input-default">
                            <span>idCliente</span>
                        </div>
        
                        <div class="inputbox telegram-form">
                            <input type="text" name="userTelegram" id="id_userTelegram" required="required" data-userTelegram class="input-default">
                            <span>@UsuarioTelegram</span>
    
                        </div>
                        <p class="text-video-telegram">Si no sabes tu usuario de Telegram ver video explicativo haciendo <a id='link-telegram' class="link-video-telegram">Click Aqui</a></p>
                
        
                        <input type="hidden" name="idAfiliado" id="id_idAfiliado" value="{{afiliado.idAfiliado}}">
                        <input type="hidden" name="id_telefonoAfiliado" id="id_telefonoAfiliado" value="{{afiliado.telefono}}">
        
                        <div class="input-button">
                            <input type="submit" value="send" id='btn-send' data-btnSend class="button-32 input-default">
                          </div>
                        {% comment %} <button onclick="send_handle()">send</button> {% endcomment %}
                      </form>
        
                </div>
            </div>
            
        </section>
    </section>

</main>

{% comment %} mensaje que aparece 3 segundos cuando se verifica la cuenta {% endcomment %}
<p class="mensaje-verificar-cliente" id="mensaje-verificar-cliente" hidden>✔️ Su cuenta fue verificada correctamente</p> 


{% comment %} Modal para video de usuario de telegram {% endcomment %}
<div class="modal-telegram" hidden>
        <span class="btn-salir">X</span>
        <video class='modal-video' src="{% static 'video/agregar_usuario_telegram.mp4' %}" controls='true'></video>
</div>

<div class="modal-id-cliente" hidden>
    <span class="salir-cliente">X</span>
    <video class='modal-video' src="{% static 'video/agregar_usuario_telegram.mp4' %}" controls='true'></video>
</div>

<a href="https://api.whatsapp.com/send?phone=54{{afiliado.telefono}}&text=Hola, quiero comunicarme con el soporte de Live Community." id="wsp"class="btn-wsp" target="_blank">
    <i class="fa fa-whatsapp icono"></i>
</a>

{% endblock content %}