{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/descargar.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/afiliado/pasos.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/linkGrupos.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/afiliado/formNuevoCliente.css' %}">

    
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
    
    {% endblock content %}

    

    <script src="{% static 'js/app.js' %}" type="module"></script>
    <script src="{% static 'js/validacion_form.js' %}" type="module"></script>
    <script src="{% static 'js/validarBtn.js' %}" type="module"></script>
    <script src="{% static 'js/modal.js' %}" type="module"></script>
    <script src="{% static 'js/verificarIdNuevo.js' %}" type="module"></script>

    
</body>
</html>