{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/inicioPreguntas.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/staff.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/broker.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/presenciales.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/servicios.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/styleLoading.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body id="scrollbar">

    <nav id="navBar">
        <div class="img-container">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <ul class="list">
            <li id="inicio"><a href="/{{ id }}" >Inicio</a></li>
            <li id="broker">
                <a href="/broker/skilling/{{ id }}" >Broker</href=>
                <ul class="sub_menu">
                    {% comment %} <li><a href="/broker/skilling/{{ id }}" >Skilling</a></li> {% endcomment %}
                    {% comment %} <li><a href="/broker/bingx/{{ id }}" >Bingx</a></li> {% endcomment %}
                </ul>
            </li>
            <li id="servicios" ><a href="/servicios/{{ id }}" >Servicios FREE</a></li>
            {% comment %} <li id="presenciales" ><a href="/presenciales/{{ id }}" >Presenciales</a></li> {% endcomment %}
        </ul>
    
    </nav>

    <!-- INICIO LOADING COMPONENTE -->
    <div class="loading">
        <img class="imgLoading" src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <!-- FIN LOADING COMPONENTE -->


    {% block content %}
    
    {% endblock content %}

 
    <script src="{% static 'js/animations/headerAnimationLanding.js' %}" type="module"></script>
    <script src="{% static 'js/app.js' %}" type="module"></script>
    <script src="{% static 'js/validacion_form.js' %}" type="module"></script>
    <script src="{% static 'js/validarBtn.js' %}" type="module"></script>
    <script src="{% static 'js/modal.js' %}" type="module"></script>
    <script src="{% static 'js/verificarIdNuevo.js' %}" type="module"></script>
    <script src="{% static 'js/slider.js' %}" type="module"></script>
    <script src="{% static 'js/sliderStaff.js' %}" type="module"></script>
    <script src="{% static 'js/nav.js' %}" type="module"></script>
    <script src="{% static 'js/modalConsulta.js' %}" type="module"></script>

    
</body>
</html>