{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/descargar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pasos.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
    
    {% endblock content %}

    

    <script src="{% static 'js/app.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    
</body>
</html>