{% extends 'base.html' %}
{% load static %}

{% block title %}Broker{% endblock %}

{% block content %}


<div class="broker">
    <!-- INICIO HEADER -->
    <header class="broker-container-header">
        <div class="broker-presentation">

            <img class="broker-logo" src="{% static 'img/SkillingLogo.png' %}" alt="logo de skilling">

        </div>
    </header>
    <!-- FIN HEADER -->

    <!-- INICIO SKILLING ABOUT US -->
     <section class="broker_about_us_container">
        <div class="broker_about_us_text">
            <p>Skilling es un broker de confianza fundado en 2016, regulado por la CySEC de Chipre y la FSA de Seychelles. Con una cuenta estándar que requiere un depósito mínimo de 200 USD, <span class="color_green"> Skilling ofrece una plataforma intuitiva y herramientas avanzadas </span>para traders de todos los niveles, permitiéndoles desarrollarse como traders profesionales de manera confiable..</p>
        </div>
    </section>
    <!-- FIN SKILLING ABOUT US -->

    <!-- INICIO CARD SECTION -->
    <section class="broker_info_container">
        <div class="broker_info_card_big">
            <div class="broker_info_card_big_text">
                <h2>Requisitos para aprender</h2>
                <p>Para aprender necesitas tener un dispositivo mobil o una computadora. Es ideal contar con ambos . Tambien es necesario disponer de acceso a internet</p>
            </div>
            <div class="broker_info_card_big_img">
                <img  src="{% static 'img/Educacion.png' %}" alt="educacion">
            </div>
               
        </div>
        <div class="broker_info_card_container_small">
            <div class="broker_info_card_small">
                <h2>Requisitos para aprender</h2>
                <p>Para aprender necesitas tener un dispositivo mobil o una computadora. Es ideal contar con ambos . Tambien es necesario disponer de acceso a internet</p>
            </div>
            <div class="broker_info_card_small">
                <h2>Requisitos para aprender</h2>
                <p>Para aprender necesitas tener un dispositivo mobil o una computadora. Es ideal contar con ambos . Tambien es necesario disponer de acceso a internet</p>
            </div>
        </div>
        <div class="broker_info_card_big">
            <div class="broker_info_card_big_text">
                <h2>Requisitos para aprender</h2>
                <p>Para aprender necesitas tener un dispositivo mobil o una computadora. Es ideal contar con ambos . Tambien es necesario disponer de acceso a internet</p>
            </div>
            <div class="broker_info_card_big_img">
                <img  src="{% static 'img/dinero.png' %}" alt="dolar">
            </div>
        </div>
    </section>


    <!-- FIN CARD SECTION -->



    <footer class="footer-broker">
        <div class="img-container-footer">
            <img class="logo" src="{% static 'img/LogoLive.png' %}" alt="logo live community">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/">
                <img src="{% static 'img/iconig.png' %}" alt="logo instagram">
            </a>
            <a href="https://web.telegram.org/k/">
                <img src="{% static 'img/icontelegram.jpg' %}" alt="logo telegram">
            </a>
        </div>


        <div class="btn-registrate-container-desktop">
            <a class="btn-registrate" href="{{ url_register }}">REGISTRATE</a>
        </div>

    </footer>


</div>

{% endblock content %}