{% extends 'base.html' %}
{% load static %}

{% block title %}Broker{% endblock %}

{% block content %}


<div class="broker">
    <!-- INICIO HEADER -->
    <header class="broker-container-header">
        <div class="broker-presentation">

            <img class="broker-logo" src="{% static 'img/SkillingLogo.png' %}" alt="logo de skilling">

        </div>
    </header>
    <!-- FIN HEADER -->

    <!-- INICIO SKILLING ABOUT US -->
     <section class="broker_about_us_container">
        <div class="broker_about_us_text">
            <p>Skilling es un broker de confianza fundado en 2016, regulado por la CySEC de Chipre y la FSA de Seychelles. Con una cuenta estándar que requiere un depósito mínimo de 200 USD, <span class="color_green"> Skilling ofrece una plataforma intuitiva y herramientas avanzadas </span>para traders de todos los niveles, permitiéndoles desarrollarse como traders profesionales de manera confiable.</p>
        </div>
    </section>
    <!-- FIN SKILLING ABOUT US -->

    <!-- INICIO CARD SECTION -->
    <section class="broker_info_container">
        <div class="broker_info_card_big">
            <div class="broker_info_card_big_text">
                <h2>Dedica 2 Horas Diarias para Convertirte en un Trader Exitoso</h2>
                <p> Dedicando al menos 2 horas diarias a estas actividades, los miembros de la comunidad podrán desarrollar una base sólida de conocimientos y habilidades necesarias para convertirse en traders competentes y exitosos.</p>
            </div>
            <div class="broker_info_card_big_img">
                <img  src="{% static 'img/Educacion.png' %}" alt="educacion">
            </div>
               
        </div>
        <div class="broker_info_card_container_small">
            <div class="broker_info_card_small">
                <h2>Conoce el Broker Skilling para Operar de Manera Eficiente y Segura</h2>
                <p>Familiarízate con el broker Skilling y su plataforma para operar de manera eficiente y segura, maximizando tus oportunidades de éxito en trading.</p>
            </div>
            <div class="broker_info_card_small">
                <h2>Requisitos Técnicos para Acceder a Plataformas de Trading y Noticias Financieras en Tiempo Real</h2>
                <p> Necesitas una computadora con Internet y/o un dispositivo móvil para acceder a plataformas de trading, análisis y noticias financieras en tiempo real, permitiéndote aprender y practicar de manera efectiva.</p>
            </div>
        </div>
        <div class="broker_info_card_big">
            <div class="broker_info_card_big_text">
                <h2>Regístrate en Skilling para Acceder a los Videos Educativos del Broker</h2>
                <p>Para acceder a los videos de Skilling, es necesario registrarse y acceder a la plataforma de Skilling donde generarás tus credenciales de inicio de sesión. Estos videos brindarán información y conocimientos fundamentales sobre el broker.</p>
            </div>
            <div class="broker_info_card_big_img">
                <img  src="{% static 'img/dinero.png' %}" alt="dolar">
            </div>
        </div>
    </section>


    <!-- FIN CARD SECTION -->



    <footer class="footer-broker">
        <div class="img-container-footer">
            <img class="logo" src="{% static 'img/LogoLive.png' %}" alt="logo live community">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/">
                <img src="{% static 'img/iconig.png' %}" alt="logo instagram">
            </a>
            <a href="https://web.telegram.org/k/">
                <img src="{% static 'img/icontelegram.jpg' %}" alt="logo telegram">
            </a>
        </div>


        <div class="btn-registrate-container-desktop">
            <a class="btn-registrate" href="{{ url_register }}">REGISTRATE</a>
        </div>

    </footer>


</div>

{% endblock content %}