{% block faq %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
            <div class="pregunta">
                <h5>¿Que necesito para aprender?</h5>
                <p>Necesitas un dispositivo celular o una computadora en caso de tener las dos mejor, y acceso a Internet. </p>
            </div>
            <div class="pregunta">
                <h5>Tengo una cuenta de otro Broker, ¿Sirve?</h5>
                <p>No, para poder acceder a los servicios es muy importante utilizar brokers recomendados por Live Community, de esa forma no habra ningun inconveniente a la hora de tomar la misma Señal, SL y TP, desarrollaremos las mismas operaciones en conjunto.</p>
            </div>
            
        </div>
        <div class="preguntas-right">
            <div class="pregunta">
                <h5>¿Porque tengo que cargar mi cuenta con dinero?</h5>
                <p>Para que realmente puedas comenzar con los servicios Gratuitos es muy importantes tener tu cuenta cargado por lo menos con el minimo de 200 USD, de esa manera vas a tener dinero para operar en tu cuenta real y realmente cumplir con los desafios que te haran evolucionar como trader profesional. </p>
            </div>
            <div class="pregunta">
                <h5>¿Cuanto hay que pagar por mes?</h5>
                <p>Los servicios Free son totalmente Gratis vos podes a empezar a aprender sin necesidad de pagar nada.</p>
            </div>
            
        </div>
    </div>

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
                ¿Que necesito para aprender?
            </summary>
            <div>
                Necesitas un dispositivo celular o una computadora en caso de tener las dos mejor, y acceso a Internet. 
            </div>
        </details>
        <details>
            <summary>
                Tengo una cuenta de otro Broker, ¿Sirve?
            </summary>
            <div>
                No, para poder acceder a los servicios es muy importante utilizar brokers recomendados por Live Community, de esa forma no habra ningun inconveniente a la hora de tomar la misma Señal, SL y TP, desarrollaremos las mismas operaciones en conjunto.
            </div>
        </details>
        <details>
            <summary>
                ¿Porque tengo que cargar mi cuenta con dinero?
            </summary>
            <div>
                Para que realmente puedas comenzar con los servicios Gratuitos es muy importantes tener tu cuenta cargado por lo menos con el minimo de 200 USD, de esa manera vas a tener dinero para operar en tu cuenta real y realmente cumplir con los desafios que te haran evolucionar como trader profesional. 
            </div>
        </details>
        <details>
            <summary>
                ¿Cuanto hay que pagar por mes?
            </summary>
            <div>
                Los servicios Free son totalmente Gratis vos podes a empezar a aprender sin necesidad de pagar nada.
            </div>
        </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faq %}