{% block faq %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
            <div class="pregunta">
                <h5>¿CUANDO SE CREO LIVE COMMUNITY?</h5>
                <p>LIVE FUE CREADO EL 18 DE JULIO DEL 2022.</p>
            </div>
            <div class="pregunta">
                <h5>¿POR QUE LIVE ES GRATIS?</h5>
                <p>LIVE DESDE SU NACIMIENTO FUE CREADO CON UN SECTOR GRATUITO PARA DARLE LA POSIBILIDAD A LAS PERSONAS QUE NO TIENEN DINERO QUE PUEDAN APRENDER.</p>
            </div>
            
        </div>
        <div class="preguntas-right">
            <div class="pregunta">
                <h5>¿CUAL ES EL OBJETIVO DE LIVE?</h5>
                <p>LIVE FUE CREADO CON EL OBJETIVO DE IMPACTAR EN LA VIDA DE MUCHAS PERSONAS A NIVEL MUNDIAL Y CAMBIAR SU SITUACION ECONOMICA O GENERANDO UN INGRESO EXTRA CON ESTA HABILIDAD.</p>
            </div>
            <div class="pregunta">
                <h5>¿CUANTO TIEMPO TARDARE EN CONVERTIRME EN PROFESIONAL?</h5>
                <p>NO HAY UN TIEMPO DETERMINADO TODO VA DEPENDER DE LAS HORAS DE PRACTICA EN EL MERCADO Y LA PASION QUE LE PUEDAS DEDICAR, SOLO HAY UN CAMINO PARA SER PROFESIONAL (PRACTICAR Y EDUCARSE)</p>
            </div>
            
        </div>
    </div>

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
                ¿CUANDO SE CREO LIVE COMMUNITY? 
            </summary>
            <div>
                LIVE FUE CREADO EL 18 DE JULIO DEL 2022.
            </div>
        </details>
        <details>
            <summary>
                ¿POR QUE LIVE ES GRATIS?
            </summary>
            <div>
                LIVE DESDE SU NACIMIENTO FUE CREADO CON UN SECTOR GRATUITO PARA DARLE LA POSIBILIDAD A LAS PERSONAS QUE NO TIENEN DINERO QUE PUEDAN APRENDER.
            </div>
        </details>
        <details>
            <summary>
                ¿CUAL ES EL OBJETIVO DE LIVE?            
            </summary>
            <div>
                LIVE FUE CREADO CON EL OBJETIVO DE IMPACTAR EN LA VIDA DE MUCHAS PERSONAS A NIVEL MUNDIAL Y CAMBIAR SU SITUACION ECONOMICA O GENERANDO UN INGRESO EXTRA CON ESTA HABILIDAD. 
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTO TIEMPO TARDARE EN CONVERTIRME EN PROFESIONAL?
            </summary>
            <div>
                NO HAY UN TIEMPO DETERMINADO TODO VA DEPENDER DE LAS HORAS DE PRACTICA EN EL MERCADO Y LA PASION QUE LE PUEDAS DEDICAR, SOLO HAY UN CAMINO PARA SER PROFESIONAL (PRACTICAR Y EDUCARSE)
            </div>
        </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faq %}