{% block faq %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
          <div class="pregunta">
            <h5>¿Cuándo se creó Live Community?</h5>
            <p>Live fue creado el 27 de junio del 2022.</p>
          </div>
          <div class="pregunta">
            <h5>¿Por qué Live es gratis?</h5>
            <p>Live, desde su nacimiento, fue creado con un sector gratuito para darle la posibilidad a las personas que no tienen dinero de que puedan aprender.</p>
          </div>
        </div>
        <div class="preguntas-right">
          <div class="pregunta">
            <h5>¿Cuál es el objetivo de Live?</h5>
            <p>Live fue creado con el objetivo de impactar en la vida de muchas personas a nivel mundial y cambiar su situación económica o generar un ingreso extra con esta habilidad.</p>
          </div>
        </div>
      </div>
      

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
                ¿CUANDO SE CREO LIVE COMMUNITY? 
            </summary>
            <div>
                LIVE FUE CREADO EL 27 DE JUNIO DEL 2022.
            </div>
        </details>
        <details>
            <summary>
                ¿POR QUE LIVE ES GRATIS?
            </summary>
            <div>
                LIVE DESDE SU NACIMIENTO FUE CREADO CON UN SECTOR GRATUITO PARA DARLE LA POSIBILIDAD A LAS PERSONAS QUE NO TIENEN DINERO QUE PUEDAN APRENDER.
            </div>
        </details>
        <details>
            <summary>
                ¿CUAL ES EL OBJETIVO DE LIVE?            
            </summary>
            <div>
                LIVE FUE CREADO CON EL OBJETIVO DE IMPACTAR EN LA VIDA DE MUCHAS PERSONAS A NIVEL MUNDIAL Y CAMBIAR SU SITUACION ECONOMICA O GENERANDO UN INGRESO EXTRA CON ESTA HABILIDAD. 
            </div>
        </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faq %}