{% block faqBroker %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
            <div class="pregunta">
                <h5>¿QUE ES UN BROKER?</h5>
                <p>UN BROKER ES LA HERRAMIENTA CON LA CUAL VAS A PODER HACER TRADING, COMPRAR O VENDER EN LOS DISTINTOS INSTRUMENTOS, ES EL INTERMEDIARIO ENTRE EL MERCADO Y VOS.
                </p>
            </div>
            <div class="pregunta">
                <h5>¿POR QUE TENGO QUE CARGAR MI CUENTA?</h5>
                <p>PARA PODER ACCEDER A LOS SERVICIOS FREE, ES IMPORTANTE QUE TENGAS LA CUENTA CARGADA, YA QUE DE ESA MANERA NOS GARANTIZAMOS QUE LO VAS A APROVECHAR.
                </p>
            </div>
            <div class="pregunta">
                <h5>¿PUEDO USAR OTRO BROKER?</h5>
                <p>PARA PODER SABER QUE REALMENTE LA CUENTA ESTA CARGADA CON EL CAPITAL MINIMO ES IMPORTANTE USAR EL BROKER QUE UTILIZAN TODOS LOS TRADERS DE LIVE.
                </p>
            </div>
            <div class="pregunta">
                <h5>¿QUIEN TIENE ACCESO A MI CAPITAL?</h5>
                <p>EL UNICO QUE TIENE ACCESO AL CAPITAL ES EL PROPIETARIO DE LA CUENTA
                </p>
            </div>
            <div class="pregunta">
                <h5>¿PUEDO RETIRAR EL DINERO?</h5>
                <p>SI, VOS SOS EL UNICO QUE PUEDE RETIRAR TU CAPITAL, SI CARGAS TU CUENTA Y RETIRAS EL CAPITAL TOTAL O MINIMO DE FONDEO, ENTENDEMOS QUE NO TE INTERESA CONTINUAR CON LOS SERVICIOS FREE ACEPTANDO LA BAJA DE LOS MISMOS.
                </p>
            </div>
            
        </div>
        <div class="preguntas-right">
            
            <div class="pregunta">
                <h5>¿TENGO QUE VERIFICAR MI CUENTA?</h5>
                <p>SI, ES MUY IMPORTANTE QUE VERIFIQUES TU CUENTA CON TU DNI Y CONSTANCIA DE DOMICILIO, EN CASO DE NO HACERLO Y HABER CARGADO LA CUENTA DESPUES QUE PASEN 15 DIAS SIN LA VERIFICACION, TU CAPITAL SERA DEVUELTO AL MISMO LUGAR DE ORIGEN YA QUE EL BROKER NO ACEPTA PERSONAS NO VERIFICAS.                </p>
            </div>
            <div class="pregunta">
                <h5>¿QUE PASA SI NO DEPOSITO EL MINIMO?</h5>
                <p>SI NO DEPOSITAS EL MINIMO DE 200USD NO TENDRAS ACCESOS A LOS SERVICIOS FREE, DE ESTA FORMA NOS GARANTIZAMOS QUE PUEDAS TENER UNA GESTION CORRECTA DE CAPITAL
                </p>
            </div>
            <div class="pregunta">
                <h5>¿COMO ME REGISTRO?</h5>
                <p>TOCANDO EL BOTON REGISTRATE PODRAS ACCEDER A LA HERRAMIENTA DE REGISTRO DONDE SE TE ACOMPAÑARA PASO A PASO CON VIDEOS PARA QUE PUEDAS HACERLO DE LA MANERA CORRECTA
                </p>
            </div>
            <div class="pregunta">
                <h5>¿CUANTO TARDA EN LLEGAR EL CAPITAL A MI CUENTA?</h5>
                <p>TANTO EL INGRESO Y EGRESO DEL CAPITAL SE VE REFLEJADO EL MISMO DIA.

                </p>
            </div>
            
        </div>
    </div>

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
                ¿QUE ES UN BROKER?
            </summary>
            <div>
                UN BROKER ES LA HERRAMIENTA CON LA CUAL VAS A PODER HACER TRADING, COMPRAR O VENDER EN LOS DISTINTOS INSTRUMENTOS, ES EL INTERMEDIARIO ENTRE EL MERCADO Y VOS.
            </div>
        </details>
        <details>
            <summary>
                ¿POR QUE TENGO QUE CARGAR MI CUENTA?
            </summary>
            <div>
                PARA PODER ACCEDER A LOS SERVICIOS FREE, ES IMPORTANTE QUE TENGAS LA CUENTA CARGADA, YA QUE DE ESA MANERA NOS GARANTIZAMOS QUE LO VAS A APROVECHAR.
            </div>
        </details>
        <details>
            <summary>
                ¿PUEDO USAR OTRO BROKER?            
            </summary>
            <div>
                PARA PODER SABER QUE REALMENTE LA CUENTA ESTA CARGADA CON EL CAPITAL MINIMO ES IMPORTANTE USAR EL BROKER QUE UTILIZAN TODOS LOS TRADERS DE LIVE. 
            </div>
        </details>
        <details>
            <summary>
                ¿QUIEN TIENE ACCESO A MI CAPITAL?
            </summary>
            <div>
                EL UNICO QUE TIENE ACCESO AL CAPITAL ES EL PROPIETARIO DE LA CUENTA
            </div>
        </details>
        <details>
            <summary>
                ¿PUEDO RETIRAR EL DINERO?
            </summary>
            <div>
                SI VOS SOS EL UNICO QUE PUEDE RETIRAR TU CAPITAL, SI CARGAS TU CUENTA Y RETIRAS EL CAPITAL TOTAL O MINIMO DE FONDEO, ENTENDEMOS QUE NO TE INTERESA CONTINUAR CON LOS SERVICIOS FREE ACEPTANDO LA BAJA DE LOS MISMOS.
            </div>
        </details>
        <details>
            <summary>
                ¿TENGO QUE VERIFICAR MI CUENTA?
            </summary>
            <div>
                SI ES MUY IMPORTANTE QUE VERIFIQUES TU CUENTA CON TU DNI Y CONSTANCIA DE DOMICILIO, EN CASO DE NO HACERLO Y HABER CARGADO LA CUENTA DESPUES QUE PASEN 15 DIAS SIN LA VERIFICACION, TU CAPITAL SERA DEVUELTO AL MISMO LUGAR DE ORIGEN YA QUE EL BROKER NO ACEPTA PERSONAS NO VERIFICAS.
            </div>
        </details>
        <details>
            <summary>
                ¿QUE PASA SI NO DEPOSITO EL MINIMO?
            </summary>
            <div>
                SI NO DEPOSITAS EL MINIMO DE 200USD NO TENDRAS ACCESOS A LOS SERVICIOS FREE, DE ESTA FORMA NOS GARANTIZAMOS QUE PUEDAS TENER UNA GESTION CORRECTA DE CAPITAL
            </div>
        </details>
        <details>
            <summary>
                ¿COMO ME REGISTRO? 
            </summary>
            <div>
                TOCANDO EL BOTON REGISTRATE PODRAS ACCEDER A LA HERRAMIENTA DE REGISTRO DONDE SE TE ACOMPAÑARA PASO A PASO CON VIDEOS PARA QUE PUEDAS HACERLO DE LA MANERA CORRECTA
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTO TARDA EN LLEGAR EL CAPITAL A MI CUENTA? 
            </summary>
            <div>
                TANTO EL INGRESO Y EGRESO DEL CAPITAL SE VE REFLEJADO EL MISMO DIA.
            </div>
        </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faqBroker %}