{% block faqServicios %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
            <div class="pregunta">
                <h5>¿QUE VOY A APRENDER?</h5>
                <p>VAS A CONTAR CON UNA EDUCACION COMPLETA DE LO MAS BASICO A LO MAS AVANZADO, VAS APRENDER TODO SOBRE TRADING SI ASI LO DESEAS.
                </p>
            </div>
            <div class="pregunta">
                <h5>¿CUANDO INGRESO, ALGUIEN ME GUIA?</h5>
                <p>SI VAS A TENER EL ACOMPAÑAMIENTO PROFESIONAL DE LOS TRADERS QUE FORMAN PARTE DE LIVE, PARA ESO ESTA EL CANAL COMUNIDAD DONDE SE TE DARA TODO EL APOYO QUE NECESITES PARA ALCANZAR TUS LOGROS Y ASI MISMO OBTENDRAS VIDEOS EDUCATIVOS PASO A PASO
                </p>
            </div>
            <div class="pregunta">
                <h5>¿CUANTO TIEMPO TARDA EL INGRESO A LOS SERVICIOS?</h5>
                <p>UNA VES FONDEADA TU CUENTA EL INGRESO A LOS SERVICIOS NO DEMORA MAS DE 2 HORAS, PARA ESO TENDRAS LA GUIA DE REGISTRO QUE TE GUIARA PASO A PASO COMO HACERLO TOCANDO EL BOTON REGISTRATE.
                </p>
            </div>
            <div class="pregunta">
                <h5>¿CUANTAS SEÑALES SE ENVIAN POR SEMANA EN SEÑALES FREE?</h5>
                <p>EL SERVICIO DE SEÑALES GRATUITO CUENTA CON UN PROMEDIO DE 5 A 10 SEÑALES POR SEMANA CON EL OBJETIVO DE QUE PUEDAS HACER TU PLAN DE TRADING
                </p>
            </div>

            
        </div>
        <div class="preguntas-right">
            
            <div class="pregunta">
                <h5>¿CUANTAS SEÑALES SE ENVIAN POR SEMANA EN SEÑALES VIP?</h5>
                <p>EN EL SERVICIO DE SEÑALES VIP SE ENVIA UN PROMEDIO DE 15 A 30 SEÑALES POR SEMANA 
                </p>
            </div>
            <div class="pregunta">
                <h5>¿QUE INFORMACION OBTENGO EN SERVICIO PRO? </h5>
                <p>OBTENDRAS INFORMACION DE MUCHO VALOR DONDE SE VERA EN PROFUNDIDAD TODO SOBRE SMART MONEY Y ICT. (MUY RECOMENDADO)
                </p>
            </div>
            <div class="pregunta">
                <h5>¿QUE DIFERENCIA HAY EN CARGAR POCO CAPITAL Y MUCHO?</h5>
                <p>CUANTO MAYOR CAPITAL TENGAS PARA OPERAR LAS GANANCIAS SERAN MAS GRANDES
                </p>
            </div>
            <div class="pregunta">
                <h5>¿CUANTO CAPITAL PUEDO GANAR POR DIA? </h5>
                <p>DEPENDE MUCHO DEL TIPO DE OPERATIVA QUE SE DESARROLLE, LAS GANANCIAS SON ILIMITADAS, NOSOTROS RECOMENDAMOS SIEMPRE ASEGURAR UN PLAN DIARIO DEL 2,5 % COMO MINIMO 
                </p>
            </div>
            
        </div>
    </div>

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
                ¿QUE VOY A APRENDER?
            </summary>
            <div>
                VAS A CONTAR CON UNA EDUCACION COMPLETA DE LO MAS BASICO A LO MAS AVANZADO, VAS APRENDER TODO SOBRE TRADING SI ASI LO DESEAS.
            </div>
        </details>
        <details>
            <summary>
                ¿CUANDO INGRESO, ALGUIEN ME GUIA?
            </summary>
            <div>
                SI VAS A TENER EL ACOMPAÑAMIENTO PROFESIONAL DE LOS TRADERS QUE FORMAN PARTE DE LIVE, PARA ESO ESTA EL CANAL COMUNIDAD DONDE SE TE DARA TODO EL APOYO QUE NECESITES PARA ALCANZAR TUS LOGROS Y ASI MISMO OBTENDRAS VIDEOS EDUCATIVOS PASO A PASO
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTO TIEMPO TARDA EL INGRESO A LOS SERVICIOS?
            </summary>
            <div>
                UNA VES FONDEADA TU CUENTA EL INGRESO A LOS SERVICIOS NO DEMORA MAS DE 2 HORAS, PARA ESO TENDRAS LA GUIA DE REGISTRO QUE TE GUIARA PASO A PASO COMO HACERLO TOCANDO EL BOTON REGISTRATE.
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTAS SEÑALES SE ENVIAN POR SEMANA EN SEÑALES FREE?
            </summary>
            <div>
                EL SERVICIO DE SEÑALES GRATUITO CUENTA CON UN PROMEDIO DE 5 A 10 SEÑALES POR SEMANA CON EL OBJETIVO DE QUE PUEDAS HACER TU PLAN DE TRADING
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTAS SEÑALES SE ENVIAN POR SEMANA EN SEÑALES VIP?
            </summary>
            <div>
                EN EL SERVICIO DE SEÑALES VIP SE ENVIA UN PROMEDIO DE 15 A 30 SEÑALES POR SEMANA 
            </div>
        </details>
        <details>
            <summary>
                ¿QUE INFORMACION OBTENGO EN SERVICIO PRO? 
            </summary>
            <div>
                OBTENDRAS INFORMACION DE MUCHO VALOR DONDE SE VERA EN PROFUNDIDAD TODO SOBRE SMART MONEY Y ICT. (MUY RECOMENDADO)
            </div>
        </details>
        <details>
            <summary>
                ¿QUE DIFERENCIA HAY EN CARGAR POCO CAPITAL Y MUCHO?
            </summary>
            <div>
                CUANTO MAYOR CAPITAL TENGAS PARA OPERAR LAS GANANCIAS SERAN MAS GRANDES
            </div>
        </details>
        <details>
            <summary>
                ¿CUANTO CAPITAL PUEDO GANAR POR DIA? 
            </summary>
            <div>
                DEPENDE MUCHO DEL TIPO DE OPERATIVA QUE SE DESARROLLE, LAS GANANCIAS SON ILIMITADAS, NOSOTROS RECOMENDAMOS SIEMPRE ASEGURAR UN PLAN DIARIO DEL 2,5 % COMO MINIMO 
            </div>
        </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faqServicios %}