{% block faqServicios %}
<!-- FAQ -->
<section class="inicio-preguntas">

    <h2>Preguntas Frecuentes</h2>
    <div class="preguntas-container-desktop">
        <div class="preguntas-left">
            <div class="pregunta">
                <h5>¿QUÉ VOY A APRENDER?</h5>
                <p>VAS A CONTAR CON UNA EDUCACIÓN COMPLETA DE LO MÁS BÁSICO A LO MÁS AVANZADO, VAS A APRENDER TODO SOBRE TRADING SI ASI LO DESEAS.</p>
              </div>
              
              <div class="pregunta">
                <h5>¿CUÁNDO INGRESO, ALGUIEN ME GUÍA?</h5>
                <p>SI VAS A TENER EL ACOMPAÑAMIENTO PROFESIONAL DE LOS TRADERS QUE FORMAN PARTE DE LIVE, PARA ESO ESTÁ EL CANAL COMUNIDAD DONDE SE TE DARÁ TODO EL APOYO QUE NECESITES PARA ALCANZAR TUS LOGROS Y ASI MISMO OBTENDRÁS VIDEOS EDUCATIVOS PASO A PASO.</p>
              </div>
              
              <div class="pregunta">
                <h5>¿CUÁNTO TIEMPO TARDA EL INGRESO A LOS SERVICIOS?</h5>
                <p>UNA VEZ FONDEADA TU CUENTA EL INGRESO A LOS SERVICIOS NO DEMORA MÁS DE 2 HORAS, PARA ESO TENDRÁS LA GUIA DE REGISTRO QUE TE GUIARA PASO A PASO COMO HACERLO TOCANDO EL BOTÓN REGÍSTRATE.</p>
              </div>
              
              <div class="pregunta">
                <h5>¿CUÁNTAS SEÑALES SE ENVÍAN POR SEMANA EN SEÑALES FREE?</h5>
                <p>EL SERVICIO DE SEÑALES GRATUITO CUENTA CON UN PROMEDIO DE 5 A 10 SEÑALES POR SEMANA CON EL OBJETIVO DE QUE PUEDAS HACER TU PLAN DE TRADING.</p>
              </div>
              
            
        </div>
        <div class="preguntas-right">
            
            <div class="pregunta">
                <h5>¿CUÁNTAS SEÑALES SE ENVÍAN POR SEMANA EN SEÑALES VIP?</h5>
                <p>EN EL SERVICIO DE SEÑALES VIP SE ENVÍAN UN PROMEDIO DE 15 A 30 SEÑALES POR SEMANA.</p>
              </div>
              
              <div class="pregunta">
                <h5>¿QUÉ INFORMACIÓN OBTENGO EN SERVICIO PRO?</h5>
                <p>OBTENDRÁS INFORMACIÓN DE MUCHO VALOR DONDE SE VERÁ EN PROFUNDIDAD TODO SOBRE SMART MONEY Y ICT. (MUY RECOMENDADO)</p>
              </div>
              
              <div class="pregunta">
                <h5>¿QUÉ DIFERENCIA HAY EN CARGAR POCO CAPITAL Y MUCHO?</h5>
                <p>CUANTO MAYOR CAPITAL TENGAS PARA OPERAR, LAS GANANCIAS SERÁN MÁS GRANDES.</p>
              </div>
              
              <div class="pregunta">
                <h5>¿CUÁNTO CAPITAL PUEDO GANAR POR DÍA?</h5>
                <p>DEPENDE MUCHO DEL TIPO DE OPERATIVA QUE SE DESARROLLE. LAS GANANCIAS SON ILIMITADAS. NOSOTROS RECOMENDAMOS SIEMPRE ASEGURAR UN PLAN DIARIO DEL 2,5 % COMO MÍNIMO.</p>
              </div>
              
            
        </div>
    </div>

    <div class="preguntas-container-mobile">
        <details open>
            <summary>
              ¿QUÉ VOY A APRENDER?
            </summary>
            <div>
              VAS A CONTAR CON UNA EDUCACIÓN COMPLETA DE LO MÁS BÁSICO A LO MÁS AVANZADO, VAS A APRENDER TODO SOBRE TRADING SI ASÍ LO DESEAS.
            </div>
          </details>
        
          <details>
            <summary>
              ¿CUÁNDO INGRESO, ALGUIEN ME GUÍA?
            </summary>
            <div>
              SI VAS A TENER EL ACOMPAÑAMIENTO PROFESIONAL DE LOS TRADERS QUE FORMAN PARTE DE LIVE, PARA ESO ESTÁ EL CANAL COMUNIDAD DONDE SE TE DARÁ TODO EL APOYO QUE NECESITES PARA ALCANZAR TUS LOGROS Y ASÍ MISMO OBTENDRÁS VIDEOS EDUCATIVOS PASO A PASO.
            </div>
          </details>
        
          <details>
            <summary>
              ¿CUÁNTO TIEMPO TARDA EL INGRESO A LOS SERVICIOS?
            </summary>
            <div>
              UNA VEZ FONDADA TU CUENTA EL INGRESO A LOS SERVICIOS NO DEMORA MÁS DE 2 HORAS, PARA ESO TENDRÁS LA GUÍA DE REGISTRO QUE TE GUIARÁ PASO A PASO COMO HACERLO TOCANDO EL BOTÓN REGÍSTRATE.
            </div>
          </details>
        
          <details>
            <summary>
              ¿CUÁNTAS SEÑALES SE ENVÍAN POR SEMANA EN SEÑALES FREE?
            </summary>
            <div>
              EL SERVICIO DE SEÑALES GRATUITO CUENTA CON UN PROMEDIO DE 5 A 10 SEÑALES POR SEMANA CON EL OBJETIVO DE QUE PUEDAS HACER TU PLAN DE TRADING.
            </div>
          </details>
        
          <details>
            <summary>
              ¿CUÁNTAS SEÑALES SE ENVÍAN POR SEMANA EN SEÑALES VIP?
            </summary>
            <div>
              EN EL SERVICIO DE SEÑALES VIP SE ENVÍAN UN PROMEDIO DE 15 A 30 SEÑALES POR SEMANA.
            </div>
          </details>
        
          <details>
            <summary>
              ¿QUÉ INFORMACIÓN OBTENGO EN SERVICIO PRO?
            </summary>
            <div>
              OBTENDRÁS INFORMACIÓN DE MUCHO VALOR DONDE SE VERÁ EN PROFUNDIDAD TODO SOBRE SMART MONEY Y ICT. (MUY RECOMENDADO).
            </div>
          </details>
        
          <details>
            <summary>
              ¿QUÉ DIFERENCIA HAY EN CARGAR POCO CAPITAL Y MUCHO?
            </summary>
            <div>
              CUANTO MAYOR CAPITAL TENGAS PARA OPERAR, LAS GANANCIAS SERÁN MÁS GRANDES.
            </div>
          </details>
        
          <details>
            <summary>
              ¿CUÁNTO CAPITAL PUEDO GANAR POR DÍA?
            </summary>
            <div>
              DEPENDE MUCHO DEL TIPO DE OPERATIVA QUE SE DESARROLLE. LAS GANANCIAS SON ILIMITADAS. NOSOTROS RECOMENDAMOS SIEMPRE ASEGURAR UN PLAN DIARIO DEL 2,5 % COMO MÍNIMO.
            </div>
          </details>
    </div>

</section>
<!-- FIN DEL FAQ -->

{% endblock faqServicios %}