{% extends 'base.html' %}
{% load static %} 

{% block title %} Home{% endblock %} 

{% block content %}
<header>
    <div class="main-contain">
        <div class="hero-contain">
            <div class="header">
                <div class="img-container">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
                </div>
            </div>
            
            <div class="hero">
                
                    <h1>LIVE COMMUNITY</h1>
                    <p>SOMOS Live Community, te brindamos la vacante para que puedas
                        acceder GRATIS a todos los servicios.
                    </p>
                    <div class="button-contain">
                        
                    <button class="button-17" role="button">Empieza Ya</button>
                    </div>
            </div>

            <div class="terminos-container">
                <div class="terminos-condiciones text-center">
                    <input type="checkbox" name="terminos" id="terminos">
                    <p>Una ves REGISTRADO, podes aceptar los Terminos y condiciones, y continuar con el fondeo de tu cuenta</p>
                </div>
                <div class="button-continuar">
                    <a href="#" class="cta">
                        <span>Click me</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                          <path d="M1,5 L11,5"></path>
                          <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                      </a>
                </div>
                
            </div>

        </div>
    </div>
</header> 


    

{% endblock content %}