{% extends 'base.html' %}
{% load static %} 

{% block title %} Home{% endblock %} 

{% block content %}
<header>
    <div class="main-contain">
        <div class="hero-contain">
            <div class="header">
                <div class="img-container">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
                </div>
            </div>
            
            <div class="hero">
                
                    <h1>LIVE COMMUNITY</h1>
                    <p>SOMOS Live Community, te brindamos la vacante para que puedas
                        acceder GRATIS a todos los servicios.
                    </p>
                    <div class="button-contain">
                        
                    <button class="button-17" role="button">Contactanos</button>
                    </div>
            </div>
                
            </div>

        </div>
    </div>
</header> 


    

{% endblock content %}