{% extends 'base.html' %}
{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<div class="serv">

    <!-- INICIO serv-->
    <div class="serv-container">
        <div class="serv-presentation">
            <!-- <img class="logo-live" src="{% static 'img/LogoLive.png' %}" alt="Logo livecommunity"> -->

            <h1 class="serv_h1">Bienvenido a los Servicios de LIVE</h1>
            <p class="serv_p">Una vez que apertures tu cuenta de
                Broker cumpliendo el minimo requisito
                vas a poder acceder totalmente <b>Gratis</b>
                a los <b>SERVICIOS FREE</b></p>
        </div>
    </div>




    <div class="servicio_section_container">
        <div id="analisisEnvivo" class="serv-videos-free right fondo">
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/ANALISIS EN VIVO.jpg' %}" alt="" srcset="" width="500px">
            </div>
            <!-- FIN VIDEO -->
            <div class="serv-video lado_der">
                <h3 class="free">Análisis en Vivo + Operativas</h3>
                <p style="color: #d3d3d3;">Realizamos análisis detallado en tiempo real con proyecciones diarias y a largo plazo de divisas, metales, índices y criptomonedas, operando en vivo para una experiencia interactiva y efectiva en el trading.</p>
            </div>
        </div>
    
        <div id="tradingtime" class="serv-videos-free left fondo">
            <div class="serv-video lado_der">
                <h3 id="tradingtime" class="free">Trading Time</h3>
                <p style="color: #d3d3d3;">Únete a nuestra sesión de 2 horas con Traders Profesionales para recibir alertas en tiempo real sobre oportunidades de compra y venta en el mercado.</p>
            </div>
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/TRADING TIME.jpg' %}" alt="" srcset="" width="300px">
            </div>
            <!-- FIN VIDEO -->
        </div>
    
        <div id="podcast" class="serv-videos-free right fondo">
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/PODCAST LIVE.jpg' %}" alt="" srcset="" width="300px">
            </div>
            <!-- FIN VIDEO -->
            <div class="serv-video lado_der">
                <h3 id="podcast_title" class="free">Podcast</h3>
                <p style="color: #d3d3d3;">Explora la importancia del podcast educativo por Mix y desarrolla la mentalidad de un Trader Exitoso.
                    El podcast por Mix ofrece contenido educativo de alta calidad para fortalecer las habilidades y mentalidad de 
                    los Traders.</p>
            </div>
        </div>
    
        <div id="discord" class="serv-videos-free left fondo">
            <div class="serv-video lado_der">
                <h3 class="free">Discord</h3>
                <p style="color: #d3d3d3;">Únete a nuestro servidor en Discord para acceder a información detallada sobre proyecciones de diversos activos a corto y largo plazo, actualizadas constantemente. Además, disfrutarás de un servicio exclusivo diseñado para potenciar tu experiencia en el trading.</p>
            </div>
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/discordServicio2.png' %}" alt="" srcset="" width="300px">
            </div>
            <!-- FIN VIDEO -->
        </div>
    
        <div id="comunidad" class="serv-videos-free right fondo">
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/COMUNIDAD LIVE.jpg' %}" alt="" srcset="" width="500px">
            </div>
            <!-- FIN VIDEO -->
            <div class="serv-video lado_der">
                <h3 id="comunidad_title" class="free">Canal de Comunidad</h3>
                <p style="color: #d3d3d3;">Obtén acceso a nuestro canal de comunidad, donde podrás participar en chats en tiempo real con expertos y otros traders para intercambiar ideas y estrategias de trading.</p>
            </div>
        </div>
    
        <div id="accesos" class="serv-videos-free left fondo">
            <div class="serv-video lado_der">
                <h3 class="free">CANAL DE ACCESOS</h3>
                <p style="color: #d3d3d3;">Obtén acceso a todas las capacitaciones en vivo de Live Community para disfrutar de una amplia gama de oportunidades de aprendizaje en tiempo real.</p>
            </div>
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/SESION EDUCATIVA.jpg' %}" alt="Sesión Educativa" class="video" width="500px" />
            </div>
            <!-- FIN VIDEO -->
        </div>
    
        <div id="senales" class="serv-videos-free right fondo">
            <!-- VIDEO -->
            <div class="serv-video lado_izq">
                <img src="{% static 'img/SENALES.jpg' %}" alt="Señales" class="video" width="500px"/>
            </div>
            <!-- FIN VIDEO -->
            <div class="serv-video lado_der">
                <h3 class="free">CANAL DE SEÑALES</h3>
                <p style="color: #d3d3d3;">Obtén acceso al canal de señales, donde recibirás operaciones en varios activos en tiempo real, realizadas por nuestros traders profesionales y presentadas de manera detallada.</p>
            </div>
        </div>
    </div>
    


    <section class="serv-free-container">
        <p>Accediendo a los <span class="free">SERVICIOS FREE</span> de Live Community obtendras educación para que
            puedas formarte como trader profesional</p>
    </section>

    <div class="btn-registrate-container-serv">
        <a class="btn-registrate-serv" href="{{ url_register }}">REGISTRATE</a>
    </div>


    <div class="service_recorda_container">
        <img src="{% static 'img/IlustracionServiciosLive.png' %}" alt="illustracion">

        <div class="recorda">
            <h3>RECORDÁ</h3>
            <p>Accediendo a los servicios <b>FREE</b> con el capital que quieras multiplicar obtendras la educación para
                que puedas profesionalizarte</p>
        </div>
    </div>

    <div class="decision-container">

        <p>¿Estas listo para convertirte</br> en un trader rentable?</p>
        <div class="decision">
            <div class="opcion2">
                <!-- <h3>Servicios Free</h3> -->
                <div class="btn-registrate-decision-container">
                    <a class="btn-vacio registrate" href="{{ url_register }}">Registrate</a>
                </div>
            </div>
        </div>
    </div>


    {% block faqServicios %}
    {% include './faqServicios.html' %}
    {% endblock faqServicios %}

    <footer class="footer-serv">
        <div class="img-container-footer">
            <img class="logo" src="{% static 'img/LogoLive.png' %}" alt="logo live community">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/">
                <img src="{% static 'img/iconig.png' %}" alt="logo instagram">
            </a>
            <a href="https://web.telegram.org/k/">
                <img src="{% static 'img/icontelegram.jpg' %}" alt="logo telegram">
            </a>
        </div>


    </footer>


</div>

{% endblock content %}