.pasos-contain{
    max-width: 50vw;
    margin: 0 auto;
}
@media (max-width:768px) {
    .pasos-contain{
        max-width: 100vw;
    }
}
.pasos-section{
    padding: 60px 0;
}
.pasos{
    display: flex;
    flex-flow: column;
    margin: 0 35px;
    padding: 0 12px;
    text-align: center;
}
.paso{
    width: 100%;
    border-style: dotted;
    border-color: #29b672;
    border-width: 0 0 0 1px;
    padding-bottom: 30px;
}
.paso:last-child{
    border: none;
}
.block {
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 25px;
    position: relative;
}
.block:before {
    content: '';
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #f21b7f67;
}

.block:after {
    content: '';
    display: block;
    z-index: 3;
    position: absolute;
    top: 6px;
    left: -5px;
    background-color: #F21B7F;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.title-paso{
        font: 600 18px  Montserrat, Helvetica, Arial, sans-serif;;
        margin-bottom: 7px;
        line-height: 1.3;
        color: #141415;
}

.text-paso{
    color: #4f566b;
    font-size: 16px;
    line-height: 1.6;
}

